# Don't push data
Benchmarking/
Mueller2012Data/
Ideal_FRAP/
TestDataset/

# Don'tpush Benchmarking
Benchmarking/

# Don't push older versions
oldversions/
misc/

# Don't push build folders
build/
dist/

#Dont push egg
*.egg-info

# Don't push shell scripts
*.sh

# Don't push any .txt files
*.txt

# Don't push Doc (yet)
Doc/

# Don't push deprecated modules
pyfrp/deprecated/

# Don't push scripts
pyfrp/scripts/

# Don't push custom meshes
pyfrp/meshfiles/field/custom/

# Don't push temp
pyfrp/temp/

#Don't push compiled python modules
*.pyc





