include pyfrp/meshfiles/*
include pyfrp/meshfiles/experimental/*
include pyfrp/meshfiles/field/*

include pyfrp/configurations/*
include pyfrp/configurations/macros/*

include pyfrp/executables/*
include pyfrp/executables/*/*
include pyfrp/executables/*/*/*



